/*
*	Menu Button
*/

.decoration-button-menu{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../img/menu/menu.png");
    -fx-background-repeat:no-repeat;
}

.decoration-button-menu:hover{
    -fx-background-color: null;
    -fx-background-image:url("../img/menu/menu-hover.png");
    -fx-background-repeat:no-repeat;
}

/*
*	Minimize Button
*/

.decoration-button-minimize{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../img/menu/minimize.png");
    -fx-background-repeat:no-repeat;
}

.decoration-button-minimize:hover{
    -fx-background-color: null;
    -fx-background-image:url("../img/menu/minimize-hover.png");
    -fx-background-repeat:no-repeat;
}

/*
*	Maximize Button
*/

.decoration-button-maximize{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../img/menu/maximize.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-maximize:hover{
    -fx-background-color: null;
    -fx-background-image:url("../img/menu/maximize-hover.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-restore{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../img/menu/restore.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-restore:hover{
    -fx-background-color: null;
    -fx-background-image:url("../img/menu/restore-hover.png");
    -fx-background-repeat:no-repeat;
}

/*
*	Close Button
*/

.decoration-button-close{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../img/menu/close.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-close:hover{
    -fx-background-color: null;
    -fx-background-image:url("../img/menu/close-hover.png");
    -fx-background-repeat:no-repeat;
}

/*
*	FullScreen Button
*/

.decoration-button-fullscreen{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../img/menu/fullscreen.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-fullscreen:hover{
    -fx-background-color: null;
    -fx-background-image:url("../img/menu/fullscreen-hover.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-unfullscreen{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../img/menu/unfullscreen.png");
    -fx-background-repeat:no-repeat;
}
.decoration-button-unfullscreen:hover{
    -fx-background-color: null;
    -fx-background-image:url("../img/menu/unfullscreen-hover.png");
    -fx-background-repeat:no-repeat;
}

/*
*	Resize Button
*/

.decoration-button-resize{
    -fx-background-radius: 0;
    -fx-border-style: null;
    -fx-background-color: null;
    -fx-background-image:url("../img/menu/resize.png");
    -fx-background-repeat:no-repeat;
}

/*
* Circle Button
*/

.button-logout {
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-border-color : white;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.button-logout:hover{
    -fx-background-color: #2c62b5;
}

.button-logout:pressed, .button-logout:default:hover:pressed
{
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-border-color : white;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.button-logout:focused
{
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-border-color : white;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

/*
* List View
*/

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: #426cad;
    -fx-text-fill: white;
}

.list-cell { /* <=== changed to even */
    -fx-background-color: #2b579a;
    -fx-text-fill: white;
    -fx-cell-size: 3.4em; /* 24 */
    -fx-font: 12px "Segoe UI Semibold";
    -fx-alignment: CENTER_LEFT;
    -fx-border-color:transparent;
}

.list-cell:filled:hover {
    -fx-background-color: #13418b;
    -fx-text-fill: white;
}

.list-view{
    -fx-background-color: #2b579a;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}

.scroll-bar .thumb{
    -fx-background-color: #cdcdcd;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar .thumb:hover {
    -fx-color: #dadada;
}

/* The following is not working. Maybe related to RT-10521*/
.scroll-bar .thumb:pressed {
    -fx-background-color: #606060;
}

.scroll-bar .track {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}

.scroll-bar .track-background {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: #f0f0f0;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
    -fx-padding: 0.25em; /* 3 */
}

.scroll-bar .increment-button:hover, .scroll-bar .decrement-button:hover  {
    -fx-background-color: #dadada;
}

.scroll-bar .increment-button:pressed, .scroll-bar .decrement-button:pressed {
    -fx-background-color: #606060;
}

.scroll-bar:horizontal .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
    -fx-shape: "M7.626,12.876L4.251,8.751H7.14L11,12.876L7.14,17H4.251L7.626,12.876z";
}

.scroll-bar:vertical .increment-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.scroll-bar .increment-button:pressed .increment-arrow {
    -fx-background-color: white, white;
}

.scroll-bar:horizontal .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.5em 0.333333em 0.0em 0.0em; /* 6 4 0 0 */
    -fx-shape: "M11,17H8.111l-3.86-4.124l3.86-4.125H11l-3.375,4.125L11,17z";
}

.scroll-bar:vertical .decrement-arrow {
    -fx-background-color: -fx-mark-highlight-color, -fx-mark-color;
    -fx-background-insets: 1 0 -1 0, 0;
    -fx-padding: 0.333333em 0.5em 0.0em 0.0em; /* 4 6 0 0 */
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}

.scroll-bar .decrement-button:pressed .decrement-arrow {
    -fx-background-color: white, white;
}

.scroll-bar:disabled {
    -fx-opacity: 0.4;
}

/*******************************************************************************
 *                                                                             *
 * ScrollPane                                                                  *
 *                                                                             *
 ******************************************************************************/

.scroll-pane {
    -fx-background-color: transparent,-fx-background;
}

.scroll-pane .corner {
    -fx-background-color: white, #f0f0f0;
}

/*******************************************************************************
 *                                                                             *
 * Progress Bar                                                                *
 *                                                                             *
 ******************************************************************************/

.progress-bar {
    -fx-background-color:
        -fx-box-border,
        linear-gradient(to bottom, derive(-fx-color,30%) 5%, derive(-fx-color,-17%));
    -fx-background-insets: 0, 1;
    -fx-indeterminate-bar-length: 90;
    -fx-indeterminate-bar-escape: true;
    -fx-indeterminate-bar-flip: false;
    -fx-indeterminate-bar-animation-time: 0;
    -fx-focus-traversable: true;
    -fx-border-color: white;

}

.progress-bar .bar {
    -fx-background-color: #cccccc;
    -fx-padding: 0.416667em; /* 5 */
    -fx-border-color: transparent;
}

.progress-bar:indeterminate .bar {
    -fx-background-color: white;
}

.progress-bar .track {
    -fx-background-color:  white;
    -fx-background-insets:  0, 1;
}

.progress-bar:disabled {
    -fx-opacity: 1.0
}
