/*******************************************************************************
 *                                                                             *
 * Table                                                                       *
 *                                                                             *
 ******************************************************************************/

.table-row-cell:empty {
    -fx-background-color: #f8f8f8;
    -fx-base: transparent;
    -fx-control-inner-background: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 0;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}


.split-pane:horizontal > * > .split-pane-divider {
   -fx-border-color: transparent -fx-box-border transparent #BBBBBB;
   -fx-background-color: transparent, -fx-inner-border-horizontal;
   -fx-background-insets: 0, 0 1 0 1;
}

/* vertical the two nodes are placed on top of each other. */
.split-pane *.vertical-grabber {
    -fx-padding: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-shape: " ";
}

.table-cell {
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;
    -fx-font: 12px "Segoe UI";
    -fx-text-fill: #212121;
    -fx-alignment: CENTER_LEFT;
    -fx-border-insets: 0;
}
.table-view {
    -fx-table-header-border-color: #959595;
    -fx-table-cell-border-color: -fx-box-border;
    -fx-control-inner-background: white;
    -fx-background-color: white;
    -fx-border-color: transparent;
    -fx-padding: 0;
    -fx-border-insets: 0;
    -fx-background-insets: 0;
}
.table-view:focused {
    -fx-background-color: -fx-box-border,-fx-box-border, white;
}
.table-row-cell {
    -fx-background-color: white;
}
.table-row-cell:odd {
    -fx-background-color: white;
    -fx-background-insets: 0, 0 0 1 0;
}
.table-view:focused .table-row-cell:focused,.table-view:focused .table-row-cell:focused:odd {
    -fx-background-color: -fx-box-border, white;
    -fx-background-insets: 0, 1, 2;
}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-box-border, rgb(205,205,205);
}
.table-view:focused .table-row-cell:filled:selected, .table-view:row-selection .table-row-cell:filled:hover:selected {
    -fx-background-color: #f4f3f3;
    -fx-background-insets: 0,1 1 1 1 0;
}
.table-view:focused .table-row-cell:filled:focused:selected:hover {
    -fx-background-color: -fx-box-border, rgb(205,205,205);
    -fx-background-insets: 0,1 1 1 1 0;
}
.table-row-cell:filled:selected:focused, .table-row-cell:filled:selected {
    -fx-background-color: #f5f5f5;
}
.table-view:row-selection .table-row-cell:filled:hover {
    -fx-background-color: #f5f5f5;
}
.table-view:row-selection .table-row-cell:filled:focused:hover {
    -fx-background-color: #f4f3f3;
}
.table-view:focused .table-row-cell:filled:focused:hover {
    -fx-background-color: -fx-box-border,rgb(231,231,231);
}
.table-view .column-header-background {
    -fx-background-color: white;
}

.table-view .column-header .label{
    -fx-text-fill: #2b579a;
    -fx-alignment: CENTER_LEFT;
}


.table-view .column-header, .table-view .filler {
    -fx-background-color: white;
    -fx-size: 35;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 0 0 -1;
    -fx-padding: 0 5 0 0;
}
.table-view .show-hide-columns-button {
    -fx-background-color: white;
    -fx-border-color: -fx-box-border;
    -fx-border-insets: -1 -1 0 0;
}
.table-view .column-drag-header {
    -fx-background-color: rgb(45,137,239);
    -fx-opacity: 0.6;
}
.table-view .column-resize-line {
    -fx-background-color: rgb(45,137,239);
}
.table-view .column-overlay {
    -fx-background-color: darkgray;
    -fx-opacity: 0.2;
}
.table-view .arrow {
    -fx-padding: 0.2em;
    -fx-shape: "M4,17v-2.889l4.124-3.86l4.125,3.86V17l-4.125-3.375L4,17z";
}


/*******************************************************************************
 *                                                                             *
 * Push Button                                                                 *
 *                                                                             *
 ******************************************************************************/

.btn {
    -fx-padding: 5 22 5 22;
    -fx-border-style: none;
    -fx-background-radius: 0;
    -fx-background-color: #2b579a;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-font-family: "Segoe UI Semibold";
    -fx-font-size: 12px;
    -fx-font-weight:bold;
    -fx-text-fill: white;
}

.btn:hover{
    -fx-background-color: #699ca7;
}

.btn:pressed, .btn:default:hover:pressed
{
  -fx-background-color: black;
  -fx-text-fill: white;
}

.btn:focused
{
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.btn:disabled, .btn:default:disabled
{
    -fx-opacity: 0.4;
    -fx-background-color: #cccccc;
    -fx-text-fill: #212121;
}

.btn:default
{
    -fx-background-color: #5585be;
    -fx-text-fill: #ffffff;
}

.btn:default:hover{
    -fx-background-color: #219297;
}




/*******************************************************************************
 *                                                                             *
 * Button Circle Black                                                                  *
 *                                                                             *
 ******************************************************************************/

.buttonCircleBlack {
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-border-color : #333333;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.buttonCircleBlack:hover{
    -fx-background-color: #cccccc;
}

.buttonCircleBlack:pressed, .buttonCircleBlack:default:hover:pressed{
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-border-color : black;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}

.buttonCircleBlack:focused
{
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-border-color : black;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-insets: 0;
}


 /******************************************************************************
 *                                                                             *
 * TextBox                                                                     *
 *                                                                             *
 ******************************************************************************/

.text-field{
    -fx-skin: "main.java.com.ipsos.andreas.asignari.ui.metro.MetroTextFieldSkin";
}

.text-input{
    -fx-background-radius: 0, 0;
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-background-insets: 0;
    -fx-prompt-text-fill: #818181;
    -fx-highlight-fill: #008287; /* TODO: this probably is the "active" color" */
    -fx-highlight-text-fill: white;
    -fx-text-fill: black;
    -fx-font-family: "Segoe UI";
    -fx-font-size: 14px;

}

.text-input:hover{
    -fx-background-color: #e2e2e2;
}

.text-input:focused{
    -fx-background-color: #5c5c5c, white;

    -fx-text-fill: black;
}

.text-input > .right-button{
    -fx-cursor: default;

    -fx-background-insets: -0.1666665em -0.45em -0.1666665em -0.45em; /* 4 7 4 7 -> this values are subtracted by 2px in em because of the border of the textfield */
}

.text-field > .right-button > .right-button-graphic {
    -fx-shape            : "M221.738,305.873l6.135,6.16l-2.875,2.863l-6.135-6.159l-6.263,6.237l-2.864-2.875l6.263-6.238l-6.177-6.202l2.875-2.863l6.177,6.201l6.244-6.22l2.864,2.876L221.738,305.873z";

    -fx-padding: 0.5em 0.5em; /* TODO: put the real number here 18 18 */
    -fx-background-color: black;
}

.text-input > .right-button:hover {
    -fx-background-color: #dedede;
}

.text-input > .right-button:pressed {
    -fx-background-color: black;
}

.text-input > .right-button:pressed > .right-button-graphic {
    -fx-background-color: white;
}

.text-input:disabled
{
    -fx-opacity: 1;
    -fx-background-insets: 0, 2;
    -fx-background-color: #e7e6e6;
    -fx-text-fill: #999999;
}

.item-title.disabled{
    -fx-text-fill: #939393;
}

/*******************************************************************************
 *                                                                             *
 * PasswordBox                                                                 *
 *                                                                             *
 ******************************************************************************/

.password-field {
    -fx-skin: "main.java.com.ipsos.andreas.asignari.ui.metro.MetroPasswordFieldSkin";
}

.password-field > .right-button > .right-button-graphic {
    -fx-shape            : "M307.688,399.564c0,1.484-1.203,2.688-2.688,2.688c-1.484,0-2.688-1.203-2.688-2.688s1.203-2.688,2.688-2.688C306.484,396.876,307.688,398.08,307.688,399.564z M297.5,399h2.5c0,0,1.063-4,5-4c3.688,0,5,4,5,4h2.5c0,0-2.063-6.5-7.5-6.5C299,392.5,297.5,399,297.5,399z";
    -fx-scale-shape: false;
    -fx-background-color: black;
}

/*******************************************************************************
 *                                                                             *
 * ComboBox                                                                    *
 *                                                                             *
 ******************************************************************************/

.combo-box  {
    -fx-background-color: transparent;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-color: gray;
}


.combo-box:hover {
    -fx-background-color: transparent;

}


/* ------- OPEN BUTTON ------- */
.combo-box .arrow-button {
    -fx-background-color: transparent, transparent, white;
}


/* ------- ARROW* ------- */
.combo-box .arrow {
    -fx-padding: 0.333333em 0.333333em 0.333333em 0.333333em; /* 4 4 4 4 */
    -fx-shape: "M8.124,13.625l4.125-3.375v2.889l-4.125,3.86L4,13.139V10.25L8.124,13.625z";
}

.combo-box .list-view {
    -fx-background-color: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 8, 0.0 , 0 , 0 );
}
.combo-box .list-cell {
    -fx-text-fill:black;
    -fx-background-color: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0) , 8, 0.0 , 0 , 0 );
}

.combo-box .list-view .list-cell:hover{
    -fx-background-color: #dedede;
    -fx-text-fill: #1d1d1d;
}

.combo-box .list-view .list-cell:filled:selected{
    -fx-background-color: #55c4fe;
}

.combo-box .list-view .list-cell:filled:selected:hover {
    -fx-background-color: #6dcdff;
}

.combo-box .list-view .list-cell:filled:pressed, .combo-bo .list-view .list-cell:filled:selected:pressed
{
    -fx-background-color: #d3d3d3;
    -fx-text-fill: #1d1d1d;
}
